In [1]:
pip install pyreadr

Collecting pyreadr
  Downloading pyreadr-0.5.2-cp39-cp39-macosx_10_9_x86_64.whl.metadata (1.2 kB)
Requirement already satisfied: pandas>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pyreadr) (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadr) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadr) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadr) (2021.1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadr) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadr) (1.15.0)
Downloading pyreadr-0.5.2-cp39-cp39-macosx_10_9_x86_64.whl (305 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 305.3/305.3 kB 944.7 kB/s eta 0:00:00 0:00:01m
Installing collected packages: pyreadr
Successfully installed pyreadr-0.5.2
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyreadr

In [2]:
result = pyreadr.read_r('Dresden/2024-01-01/2024-01-01-23-59-00.rds')

In [4]:
result.keys()

odict_keys([None])

In [7]:
print(result.keys())

odict_keys([None])

In [12]:
df = result[None]

In [13]:
import pandas as pd

In [14]:
df.columns

Index(['city', 'time_stamp', 'uid', 'lat', 'lng', 'bike', 'name',
       'station_number', 'booked_bikes', 'bikes', 'bikes_available_to_rent',
       'bike_racks', 'free_racks', 'maintenance', 'terminal_type',
       'place_type', 'rack_locks', 'no_registration', 'bike_number',
       'bike_type', 'lock_types', 'active', 'state', 'electric_lock',
       'boardcomputer'],
      dtype='object')

In [19]:
pd.set_option('display.max_columns', None)

In [24]:
df.sort_values("uid").head(10)

,city,time_stamp,uid,lat,lng,bike,name,station_number,booked_bikes,bikes,bikes_available_to_rent,bike_racks,free_racks,maintenance,terminal_type,place_type,rack_locks,no_registration,bike_number,bike_type,lock_types,active,state,electric_lock,boardcomputer
0,Dresden,2024-01-01 23:59:00,32938439,51.05603,13.72285,False,MOBIpunkt Bahnhof Mitte,43001,0,3,3,6,3,False,NaN,18,False,False,931025,150,"frame_lock,dls",True,ok,True,7.551015e+09
1,Dresden,2024-01-01 23:59:00,32938439,51.05603,13.72285,False,MOBIpunkt Bahnhof Mitte,43001,0,3,3,6,3,False,NaN,18,False,False,930497,196,"frame_lock,dls",True,ok,True,7.551154e+09
2,Dresden,2024-01-01 23:59:00,32938439,51.05603,13.72285,False,MOBIpunkt Bahnhof Mitte,43001,0,3,3,6,3,False,NaN,18,False,False,931639,196,"frame_lock,dls",True,ok,True,7.551153e+09
3,Dresden,2024-01-01 23:59:00,32938697,51.05793,13.74582,False,MOBIpunkt Carolaplatz,43011,0,6,6,5,0,False,NaN,18,False,False,930843,150,"frame_lock,dls",True,ok,True,7.551060e+09
4,Dresden,2024-01-01 23:59:00,32938697,51.05793,13.74582,False,MOBIpunkt Carolaplatz,43011,0,6,6,5,0,False,NaN,18,False,False,930467,196,"frame_lock,dls",True,ok,True,7.551168e+09
5,Dresden,2024-01-01 23:59:00,32938697,51.05793,13.74582,False,MOBIpunkt Carolaplatz,43011,0,6,6,5,0,False,NaN,18,False,False,930347,196,"frame_lock,dls",True,ok,True,7.551169e+09
6,Dresden,2024-01-01 23:59:00,32938697,51.05793,13.74582,False,MOBIpunkt Carolaplatz,43011,0,6,6,5,0,False,NaN,18,False,False,931384,196,"frame_lock,dls",True,ok,True,7.551132e+09
7,Dresden,2024-01-01 23:59:00,32938697,51.05793,13.74582,False,MOBIpunkt Carolaplatz,43011,0,6,6,5,0,False,NaN,18,False,False,931771,196,"frame_lock,dls",True,ok,True,7.551153e+09
8,Dresden,2024-01-01 23:59:00,32938697,51.05793,13.74582,False,MOBIpunkt Carolaplatz,43011,0,6,6,5,0,False,NaN,18,False,False,931507,196,"frame_lock,dls",True,ok,True,7.551153e+09
13,Dresden,2024-01-01 23:59:00,32938910,51.07764,13.71686,False,MOBIpunkt Altpieschen,43015,0,6,6,6,0,False,NaN,18,False,False,931231,196,"frame_lock,dls",True,ok,True,7.551164e+09

In [22]:
df.tail()

,city,time_stamp,uid,lat,lng,bike,name,station_number,booked_bikes,bikes,bikes_available_to_rent,bike_racks,free_racks,maintenance,terminal_type,place_type,rack_locks,no_registration,bike_number,bike_type,lock_types,active,state,electric_lock,boardcomputer
966,Dresden,2024-01-01 23:59:00,339574996,51.094324,13.726396,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930756,150,"frame_lock,dls",True,ok,True,7.551048e+09
967,Dresden,2024-01-01 23:59:00,339575015,51.052240,13.757703,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,931658,196,"frame_lock,dls",True,ok,True,7.551154e+09
968,Dresden,2024-01-01 23:59:00,339575073,51.041489,13.730721,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930069,196,"frame_lock,dls",True,ok,True,7.551163e+09
969,Dresden,2024-01-01 23:59:00,339575105,51.090684,13.711403,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930375,196,"frame_lock,dls",True,ok,True,7.551170e+09
970,Dresden,2024-01-01 23:59:00,339575114,51.046831,13.795672,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930245,196,"frame_lock,dls",True,ok,True,7.551141e+09

In [16]:
df.describe()

,uid,lat,lng,booked_bikes,bikes,free_racks,place_type,bike_number,bike_type,boardcomputer
count,9.710000e+02,971.000000,971.000000,971.000000,971.000000,971.000000,971.000000,971.000000,971.000000,9.710000e+02
mean,2.738726e+08,51.048788,13.756116,0.003090,2.077240,0.165808,13.630278,930973.774459,186.024717,8.019201e+09
std,1.126244e+08,0.023837,0.042453,0.055527,2.673506,0.777456,2.617205,541.227754,19.826396,5.939090e+09
min,3.293844e+07,50.985100,13.662797,0.000000,1.000000,0.000000,12.000000,930001.000000,150.000000,7.551004e+09
25%,2.186095e+08,51.034208,13.725034,0.000000,1.000000,0.000000,12.000000,930484.000000,196.000000,7.551134e+09
50%,3.395076e+08,51.048009,13.748583,0.000000,1.000000,0.000000,12.000000,931031.000000,196.000000,7.551153e+09
75%,3.395466e+08,51.060925,13.784128,0.000000,1.000000,0.000000,17.000000,931454.500000,196.000000,7.551163e+09
max,3.395751e+08,51.128603,13.893708,1.000000,13.000000,9.000000,22.000000,931806.000000,283.000000,8.330000e+10

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971 entries, 0 to 970
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city                     971 non-null    category
 1   time_stamp               971 non-null    category
 2   uid                      971 non-null    int32
 3   lat                      971 non-null    float64
 4   lng                      971 non-null    float64
 5   bike                     971 non-null    bool
 6   name                     279 non-null    category
 7   station_number           279 non-null    object
 8   booked_bikes             971 non-null    int32
 9   bikes                    971 non-null    int32
 10  bikes_available_to_rent  968 non-null    object
 11  bike_racks               115 non-null    object
 12  free_racks               971 non-null    int32
 13  maintenance              971 non-null    bool
 14  terminal_type            155 non-null    category
 15  place_type               971 non-null    int32
 16  rack_locks               971 non-null    bool
 17  no_registration          971 non-null    bool
 18  bike_number              971 non-null    int32
 19  bike_type                971 non-null    int32
 20  lock_types               971 non-null    category
 21  active                   971 non-null    bool
 22  state                    971 non-null    category
 23  electric_lock            971 non-null    bool
 24  boardcomputer            971 non-null    float64
dtypes: bool(6), category(6), float64(3), int32(7), object(3)
memory usage: 89.1+ KB

In [31]:
df[df.bike  == False]

,city,time_stamp,uid,lat,lng,bike,name,station_number,booked_bikes,bikes,bikes_available_to_rent,bike_racks,free_racks,maintenance,terminal_type,place_type,rack_locks,no_registration,bike_number,bike_type,lock_types,active,state,electric_lock,boardcomputer
0,Dresden,2024-01-01 23:59:00,32938439,51.056030,13.722850,False,MOBIpunkt Bahnhof Mitte,43001,0,3,3,6,3,False,NaN,18,False,False,931025,150,"frame_lock,dls",True,ok,True,7.551015e+09
1,Dresden,2024-01-01 23:59:00,32938439,51.056030,13.722850,False,MOBIpunkt Bahnhof Mitte,43001,0,3,3,6,3,False,NaN,18,False,False,930497,196,"frame_lock,dls",True,ok,True,7.551154e+09
2,Dresden,2024-01-01 23:59:00,32938439,51.056030,13.722850,False,MOBIpunkt Bahnhof Mitte,43001,0,3,3,6,3,False,NaN,18,False,False,931639,196,"frame_lock,dls",True,ok,True,7.551153e+09
3,Dresden,2024-01-01 23:59:00,32938697,51.057930,13.745820,False,MOBIpunkt Carolaplatz,43011,0,6,6,5,0,False,NaN,18,False,False,930843,150,"frame_lock,dls",True,ok,True,7.551060e+09
4,Dresden,2024-01-01 23:59:00,32938697,51.057930,13.745820,False,MOBIpunkt Carolaplatz,43011,0,6,6,5,0,False,NaN,18,False,False,930467,196,"frame_lock,dls",True,ok,True,7.551168e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,Dresden,2024-01-01 23:59:00,286143614,51.051450,13.707135,False,Semmelweißstraße,43163,0,3,3,NaN,0,False,free,17,False,False,930408,150,"frame_lock,dls",True,ok,True,7.551059e+09
275,Dresden,2024-01-01 23:59:00,286143614,51.051450,13.707135,False,Semmelweißstraße,43163,0,3,3,NaN,0,False,free,17,False,False,931392,196,"frame_lock,dls",True,ok,True,7.551136e+09
276,Dresden,2024-01-01 23:59:00,286143614,51.051450,13.707135,False,Semmelweißstraße,43163,0,3,3,NaN,0,False,free,17,False,False,931359,196,"frame_lock,dls",True,ok,True,7.551133e+09
277,Dresden,2024-01-01 23:59:00,317160801,51.041376,13.720036,False,MOBIpunkt Agentur für Arbeit,43220,0,2,2,6,4,False,NaN,18,False,False,930400,196,"frame_lock,dls",True,ok,True,7.551168e+09
278,Dresden,2024-01-01 23:59:00,317160801,51.041376,13.720036,False,MOBIpunkt Agentur für Arbeit,43220,0,2,2,6,4,False,NaN,18,False,False,930132,196,"frame_lock,dls",True,ok,True,7.551163e+09

In [26]:
df[df.bike  == True]

,city,time_stamp,uid,lat,lng,bike,name,station_number,booked_bikes,bikes,bikes_available_to_rent,bike_racks,free_racks,maintenance,terminal_type,place_type,rack_locks,no_registration,bike_number,bike_type,lock_types,active,state,electric_lock,boardcomputer
279,Dresden,2024-01-01 23:59:00,339128630,51.054409,13.738538,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,931106,150,"frame_lock,dls",True,ok,True,7.551063e+09
280,Dresden,2024-01-01 23:59:00,339169016,51.073031,13.730790,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930528,196,"frame_lock,dls",True,ok,True,7.551169e+09
281,Dresden,2024-01-01 23:59:00,339191891,51.018978,13.780988,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,931268,196,"frame_lock,dls",True,ok,True,7.551160e+09
282,Dresden,2024-01-01 23:59:00,339202497,51.058276,13.764534,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930272,196,"frame_lock,dls",True,ok,True,7.551171e+09
283,Dresden,2024-01-01 23:59:00,339202645,51.039493,13.792641,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,931194,196,"frame_lock,dls",True,ok,True,7.551135e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,Dresden,2024-01-01 23:59:00,339574996,51.094324,13.726396,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930756,150,"frame_lock,dls",True,ok,True,7.551048e+09
967,Dresden,2024-01-01 23:59:00,339575015,51.052240,13.757703,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,931658,196,"frame_lock,dls",True,ok,True,7.551154e+09
968,Dresden,2024-01-01 23:59:00,339575073,51.041489,13.730721,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930069,196,"frame_lock,dls",True,ok,True,7.551163e+09
969,Dresden,2024-01-01 23:59:00,339575105,51.090684,13.711403,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930375,196,"frame_lock,dls",True,ok,True,7.551170e+09
970,Dresden,2024-01-01 23:59:00,339575114,51.046831,13.795672,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930245,196,"frame_lock,dls",True,ok,True,7.551141e+09

In [30]:
for col in df.columns:
    print()
    print(col.upper())
    print(df.groupby(col).size().sort_values(ascending=False).head(10))

CITY
city
Dresden    971
dtype: int64

TIME_STAMP
time_stamp
2024-01-01 23:59:00    971
dtype: int64

UID
uid
43315750     13
40095125     12
218509263    12
44177530     10
218635763    10
40861102      7
32938697      6
32941086      6
218633090     6
32938910      6
dtype: int64

LAT
lat
51.082206    13
51.060922    12
51.025768    12
51.052413    10
50.996300    10
51.056691     7
51.057930     6
51.089560     6
51.077640     6
50.993010     6
dtype: int64

LNG
lng
13.695724    13
13.676932    12
13.826696    12
13.867730    10
13.741953    10
13.686787     7
13.716860     6
13.745820     6
13.703030     6
13.864750     6
dtype: int64

BIKE
bike
True     692
False    279
dtype: int64

NAME
name
MOBIpunkt ELBEPARK                   13
MOBIpunkt Gottfried-Keller-Straße    12
Donathstraße                         12
Frauenkirche                         10
Wilhelm-Weitling-Straße              10
MOBIpunkt Altcotta                    7
MOBIpunkt S-Bahnhof Trachau           6
MOBIpunkt Altpieschen                 6
MOBIpunkt Carolaplatz                 6
Tronitzer Straße                      6
dtype: int64

STATION_NUMBER
station_number
43056    13
43036    12
43228    12
43051    10
43303    10
43041     7
43299     6
43011     6
43013     6
43015     6
dtype: int64

BOOKED_BIKES
booked_bikes
0    968
1      3
dtype: int64

BIKES
bikes
1     757
2      44
3      36
5      30
6      24
12     24
10     20
4      16
13     13
7       7
dtype: int64

BIKES_AVAILABLE_TO_RENT
bikes_available_to_rent
1     754
2      44
3      36
5      30
6      24
12     24
10     20
4      16
13     13
7       7
dtype: int64

BIKE_RACKS
bike_racks
6     84
5     17
4      9
3      4
10     1
dtype: int64

FREE_RACKS
free_racks
0    916
1     13
2     11
3     11
4     11
5      8
9      1
dtype: int64

MAINTENANCE
maintenance
False    968
True       3
dtype: int64

TERMINAL_TYPE
terminal_type
free    155
dtype: int64

PLACE_TYPE
place_type
12    691
17    149
18    114
21     16
22      1
dtype: int64

RACK_LOCKS
rack_locks
False    971
dtype: int64

NO_REGISTRATION
no_registration
False    971
dtype: int64

BIKE_NUMBER
bike_number
930001    1
931371    1
931325    1
931330    1
931333    1
931334    1
931335    1
931336    1
931337    1
931338    1
dtype: int64

BIKE_TYPE
bike_type
196    752
150    216
276      1
279      1
283      1
dtype: int64

LOCK_TYPES
lock_types
frame_lock,dls    960
frame_lock         11
dtype: int64

ACTIVE
active
True    971
dtype: int64

STATE
state
ok    971
dtype: int64

ELECTRIC_LOCK
electric_lock
True    971
dtype: int64

BOARDCOMPUTER
boardcomputer
7.551004e+09    1
7.551161e+09    1
7.551158e+09    1
7.551159e+09    1
7.551159e+09    1
7.551159e+09    1
7.551159e+09    1
7.551160e+09    1
7.551160e+09    1
7.551160e+09    1
dtype: int64

/var/folders/zz/b00th7c11zqbbg9m2fhn24d40000gp/T/ipykernel_6078/616134490.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(col).size().sort_values(ascending=False).head(10))
/var/folders/zz/b00th7c11zqbbg9m2fhn24d40000gp/T/ipykernel_6078/616134490.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(col).size().sort_values(ascending=False).head(10))
/var/folders/zz/b00th7c11zqbbg9m2fhn24d40000gp/T/ipykernel_6078/616134490.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(col).size().sort_values(ascending=False).head(10))
/var/folders/zz/b00th7c11zqbbg9m2fhn24d40000gp/T/ipykernel_6078/616134490.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(col).size().sort_values(ascending=False).head(10))
/var/folders/zz/b00th7c11zqbbg9m2fhn24d40000gp/T/ipykernel_6078/616134490.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(col).size().sort_values(ascending=False).head(10))
/var/folders/zz/b00th7c11zqbbg9m2fhn24d40000gp/T/ipykernel_6078/616134490.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(col).size().sort_values(ascending=False).head(10))